@import "./styles/reset";

.main {
  display: flex;
}
.cartEmptyPage {
  display: none;
  flex-direction: column;
  align-items: center;
  .icon {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background: url(./assets/emptyBasket.svg);
  }
}
.campaign {
  background: rgb(196, 252, 196);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 8px 0;
}
@keyframes slide {
  100% {
    right: 10px;
  }
}
.addToCartSnackBar {
  color: whitesmoke;
  position: absolute;
  top: 100px;
  right: -300px;
  background-color: rgb(49, 212, 49);
  border-radius: 4px;
  width: 200px;
  padding: 20px;
  animation: slide 0.5s forwards;
  display: none;
}
