@import "./styles/reset";

.main {
  display: flex;
}
.cartEmptyPage {
  display: none;
  flex-direction: column;
  align-items: center;
  .icon {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background: url(./assets/emptyBasket.svg);
  }
}
